<div class="popular-product">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="/furni-1.0.0/images/product-1.png" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>Nordic Sandalye</h3>
						<p>Modern tasarımı ve konforlu yapısıyla yaşam alanlarınıza şıklık katar. </p>
						<p><a href="#">Detayları Gör</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="/furni-1.0.0/images/product-2.png" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>Kruzo Aero Sandalye</h3>
						<p>Ergonomik yapısı sayesinde uzun süreli kullanımlarda maksimum rahatlık sunar. </p>
						<p><a href="#">Detayları Gör</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="/furni-1.0.0/images/product-3.png" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>Ergonomik Sandalye</h3>
						<p>Sağlığınızı ön planda tutan tasarımı ile hem konforlu hem kullanışlıdır. </p>
						<p><a href="#">Detayları Gör</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
