<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Neden Bizi Tercih Etmelisiniz?</h2>
				<p>Kaliteli ürünler, hızlı teslimat ve güvenilir hizmet anlayışımızla müşterilerimize en iyi alışveriş deneyimini sunuyoruz.</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/furni-1.0.0/images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>
								Hızlı ve Ücretsiz Teslimat
							</h3>
							<p>Siparişleriniz en kısa sürede hazırlanır ve güvenli bir şekilde adresinize ulaştırılır.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/furni-1.0.0/images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Kolay Alışveriş</h3>
							<p>Kullanıcı dostu arayüzümüz sayesinde aradığınız ürünlere hızlıca ulaşabilir ve kolayca sipariş verebilirsiniz.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/furni-1.0.0/images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>
								7/24 Destek
							</h3>
							<p>Herhangi bir sorunuzda destek ekibimiz günün her saatinde size yardımcı olmaya hazırdır.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="/furni-1.0.0/images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>
								Kolay İade
							</h3>
							<p>Memnun kalmadığınız ürünleri zahmetsizce iade edebilir, güvenle alışveriş yapabilirsiniz.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="/furni-1.0.0/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
