
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body>

	@await Component.InvokeAsync("_NavbarComponentPartial")

	<!-- Start Hero Section -->

		@await Component.InvokeAsync("_FeatureComponentPartial")

	<!-- End Hero Section -->

	<!-- Start Product Section -->
	@await Component.InvokeAsync("_ProductComponentPartial")

	<!-- End Product Section -->

	<!-- Start Why Choose Us Section -->
	@await Component.InvokeAsync("_WhyChooseUsComponentPartial")

	<!-- End Why Choose Us Section -->

	<!-- Start We Help Section -->
	@await Component.InvokeAsync("_HelpComponentPartial")

	<!-- End We Help Section -->

	<!-- Start Popular Product -->
	@await Component.InvokeAsync("_PopularProductComponentPartial")

	<!-- End Popular Product -->
	<!-- Start Testimonial Slider -->
	@await Component.InvokeAsync("_TestimonialComponentPartial")

	<!-- End Testimonial Slider -->
	<!-- Start Blog Section -->
	@await Component.InvokeAsync("_BestSellingProductsComponentPartial")

	<!-- End Blog Section -->
	<!-- Start Footer Section -->

	@await Component.InvokeAsync("_FooterComponentPartial")

	<!-- End Footer Section -->

	@await Component.InvokeAsync("_ScriptComponentPartial")


</body>

</html>

