<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Modern Eşyalar<span class="d-block">Yaşam Alanları</span></h1>
					<p class="mb-4">
						Eviniz için en şık ve konforlu mobilyaları keşfedin.
						Oturma odasından yatak odasına kadar tüm ihtiyaçlarınıza özel çözümler burada.
					</p>
					<p><a href="" class="btn btn-secondary me-2">Alışverişe Başla</a><a href="#" class="btn btn-white-outline">Ürünleri İncele</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="/furni-1.0.0/images/couch.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
